/* Gallery.css */
.gallery-info-container {
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  .gallery {
    width: 50%;
  }
  
  /* Add any additional styles as needed */
  