/* Navbar.css */
.navbar-container {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff; /* Set your desired background color */
  z-index: 1000; /* Adjust the z-index as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow for a subtle elevation effect */
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #4E3A8D;
  color: white;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #4E3A8D; /* Set your desired background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow for a subtle elevation effect */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index: 1000; /* Ensure the Navbar is above other elements */
}
.navbar-left {
  flex: 1;
}

.digital-art-text {
  font-size: 1.8rem;
  font-weight: bold;
}

.navbar-center {
  flex: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-center a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-weight: bold; /* Bold text for Home and About */
}

.navbar-center a:hover {
  text-decoration: underline;
}

.navbar-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}



.signin-button,
.search-button {
  padding: 10px 15px;
  background-color: #FD3D26;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
 
}

.signin-button:hover,
.search-button:hover {
  background-color: #D63420;
}
